.chocolate-list-container {
  text-align: center;
  margin-top: 20px;
}

.chocolate-list {
  list-style: none;
  padding: 0;
}

.chocolate-item {
  background: #cb8b24;
  border: 2px solid #d7ccc8;
  padding: 15px;
  margin: 10px auto;
  width: 80%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.chocolate-item:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  background: #ffe0b2;
  color: chocolate;
}

.button-group {
  display: flex;
  gap: 10px;
}

.chocolate-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.buy-btn {
  background-color: rgb(148, 83, 4);
  color: white;
}

.buy-btn:hover {
  background-color: #388e3c;
  transform: scale(1.1);
}

.delete-btn {
  background-color: #e53935;
  color: white;
}

.delete-btn:hover {
  background-color: #c62828;
  transform: scale(1.1);
}
